body{
    background-color: #015C54;
    /* FFF0DE
    FF6F32
    FFBB58; */
}

#Quiz{
    margin: 40px 20%;
}

.quiz-heading{
    background-color: #FFF0DE;
    box-shadow: 0px 0px 15px #000;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
}

.question{
    background-color: #FFF0DE;
    box-shadow: 0px 0px 15px #000;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.question .row{
    margin-bottom: 13px;
}

.question img{
    width: 200px;
}

.question .question-no{
    text-align: center;
}

.options{
    display: flex;
    justify-content: space-around;
}

.options span{
    padding: 10px 15px;
    background-color: white;
    border-radius: 4px;
    transition: 0.5s;
}

.options input{
    display: none;
}

input[type="radio"]:checked+span{
    background-color: #FFBB58;
    box-shadow: 0px 0px 10px black;
}

.actions {
    margin-top: 20px;
}

.actions button{
    box-shadow: 0px 0px 5px black;
}

.actions .submit{
    display: none;
}

.actions .alert{
    color: white;
}





